In [1]:
import numpy as np
import pandas as pd 
from src.wrapped import Wrapped

In [2]:
wp = Wrapped(
    '../data/row/',
    '../data/processed/',
    '../data/files/'
)

# importar resultados

In [3]:
# percusão
xgb_percusao = wp.load_data('resultados_parametros_percusao_XGBoost')
histgb_percusao = wp.load_data('resultados_parametros_percusao_histGB')
rf_percusao = wp.load_data('resultados_parametros_percusao_random_forest')

# aerofone
histgb_aerofone = wp.load_data('resultados_parametros_aerofone_histGB')
xgb_aerofone = wp.load_data('resultados_parametros_aerofone_XGBoost')
rf_aerofone = wp.load_data('resultados_parametros_aerofone_random_forest')

# corda
histgb_corda = wp.load_data('resultados_parametros_corda_histGB')
xgb_corda = wp.load_data('resultados_parametros_corda_XGBoost')
rf_corda = wp.load_data('resultados_parametros_corda_random_forest')

# sopro
xgb_sopro = wp.load_data('resultados_parametros_sopro_XGBoost')
histgb_sopro = wp.load_data('resultados_parametros_sopro_histGB')
rf_sopro = wp.load_data('resultados_parametros_sopro_random_forest')

# Percusão

In [7]:
rf_percusao.query("accuracy_models > 76")

,metric_detected_outiler,algorithm_detected_outiler,neighbors_detected_outiler,parametos_models,accuracy_models
7,manhattan,kd_tree,3,"{'bootstrap': True, 'criterion': 'gini', 'max_...",76.915323
10,manhattan,brute,3,"{'bootstrap': True, 'criterion': 'entropy', 'm...",76.250000
28,manhattan,ball_tree,7,"{'bootstrap': True, 'criterion': 'entropy', 'm...",76.854839
31,manhattan,kd_tree,7,"{'bootstrap': True, 'criterion': 'entropy', 'm...",76.209677
49,manhattan,auto,11,"{'bootstrap': True, 'criterion': 'entropy', 'm...",77.520161
52,manhattan,ball_tree,11,"{'bootstrap': True, 'criterion': 'entropy', 'm...",78.165323
55,manhattan,kd_tree,11,"{'bootstrap': False, 'criterion': 'gini', 'max...",77.520161
58,manhattan,brute,11,"{'bootstrap': False, 'criterion': 'entropy', '...",78.165323

In [16]:
histgb_percusao.query("accuracy_models > 74")

,metric_detected_outiler,algorithm_detected_outiler,neighbors_detected_outiler,parametos_models,accuracy_models
1,manhattan,auto,3,"{'loss': 'auto', 'max_bins': 250, 'max_depth':...",76.270161
4,manhattan,ball_tree,3,"{'loss': 'auto', 'max_bins': 175, 'max_depth':...",76.270161
7,manhattan,kd_tree,3,"{'loss': 'log_loss', 'max_bins': 164, 'max_dep...",77.560484
10,manhattan,brute,3,"{'loss': 'categorical_crossentropy', 'max_bins...",77.600806
34,manhattan,brute,7,"{'loss': 'auto', 'max_bins': 247, 'max_depth':...",74.334677
49,manhattan,auto,11,"{'loss': 'categorical_crossentropy', 'max_bins...",76.229839
52,manhattan,ball_tree,11,"{'loss': 'log_loss', 'max_bins': 249, 'max_dep...",75.604839
55,manhattan,kd_tree,11,"{'loss': 'categorical_crossentropy', 'max_bins...",74.979839
58,manhattan,brute,11,"{'loss': 'log_loss', 'max_bins': 142, 'max_dep...",74.979839

In [4]:
xgb_percusao.query('accuracy_models > 75')

,metric_detected_outiler,algorithm_detected_outiler,neighbors_detected_outiler,parametos_models,accuracy_models
4,manhattan,ball_tree,3,"{'eta': 0.10400084745987664, 'gamma': 0, 'lear...",76.270161
25,manhattan,auto,7,"{'eta': 0.02412036066044697, 'gamma': 0, 'lear...",76.330645
40,manhattan,ball_tree,9,"{'eta': 0.17517144191986134, 'gamma': 0, 'lear...",75.584677
49,manhattan,auto,11,"{'eta': 0.04244016992180402, 'gamma': 2, 'lear...",76.915323
52,manhattan,ball_tree,11,"{'eta': 0.1940450475269715, 'gamma': 0, 'learn...",78.165323
55,manhattan,kd_tree,11,"{'eta': 0.17335374054899244, 'gamma': 0, 'lear...",76.935484
58,manhattan,brute,11,"{'eta': 0.2, 'gamma': 0, 'learning_rate': 0.28...",78.830645

# Aerofone

In [8]:
rf_aerofone.query('accuracy_models > 72')

,metric_detected_outiler,algorithm_detected_outiler,neighbors_detected_outiler,parametos_models,accuracy_models
43,manhattan,kd_tree,9,"{'bootstrap': False, 'criterion': 'gini', 'max...",72.000000
53,minkowski,ball_tree,11,"{'bootstrap': False, 'criterion': 'gini', 'max...",73.142857
56,minkowski,kd_tree,11,"{'bootstrap': False, 'criterion': 'gini', 'max...",74.857143
59,minkowski,brute,11,"{'bootstrap': False, 'criterion': 'gini', 'max...",74.285714

In [9]:
rf_aerofone.query('accuracy_models > 74')

,metric_detected_outiler,algorithm_detected_outiler,neighbors_detected_outiler,parametos_models,accuracy_models
56,minkowski,kd_tree,11,"{'bootstrap': False, 'criterion': 'gini', 'max...",74.857143
59,minkowski,brute,11,"{'bootstrap': False, 'criterion': 'gini', 'max...",74.285714

In [6]:
histgb_aerofone.query('accuracy_models > 72')

,metric_detected_outiler,algorithm_detected_outiler,neighbors_detected_outiler,parametos_models,accuracy_models
27,euclidean,ball_tree,7,"{'loss': 'categorical_crossentropy', 'max_bins...",72.974790
48,euclidean,auto,11,"{'loss': 'categorical_crossentropy', 'max_bins...",74.285714
50,minkowski,auto,11,"{'loss': 'auto', 'max_bins': 132, 'max_depth':...",74.857143
51,euclidean,ball_tree,11,"{'loss': 'auto', 'max_bins': 100, 'max_depth':...",74.857143
52,manhattan,ball_tree,11,"{'loss': 'categorical_crossentropy', 'max_bins...",72.571429
53,minkowski,ball_tree,11,"{'loss': 'log_loss', 'max_bins': 250, 'max_dep...",74.857143
54,euclidean,kd_tree,11,"{'loss': 'categorical_crossentropy', 'max_bins...",74.857143
55,manhattan,kd_tree,11,"{'loss': 'categorical_crossentropy', 'max_bins...",72.571429
56,minkowski,kd_tree,11,"{'loss': 'log_loss', 'max_bins': 105, 'max_dep...",76.000000
57,euclidean,brute,11,"{'loss': 'categorical_crossentropy', 'max_bins...",74.857143
58,manhattan,brute,11,"{'loss': 'auto', 'max_bins': 100, 'max_depth':...",72.571429
59,minkowski,brute,11,"{'loss': 'auto', 'max_bins': 100, 'max_depth':...",74.285714

# Corda

In [7]:
histgb_corda.query('accuracy_models > 52')

,metric_detected_outiler,algorithm_detected_outiler,neighbors_detected_outiler,parametos_models,accuracy_models
0,euclidean,auto,3,"{'loss': 'categorical_crossentropy', 'max_bins...",52.909091
2,minkowski,auto,3,"{'loss': 'auto', 'max_bins': 103, 'max_depth':...",52.909091
24,euclidean,auto,7,"{'loss': 'categorical_crossentropy', 'max_bins...",52.195286
26,minkowski,auto,7,"{'loss': 'log_loss', 'max_bins': 100, 'max_dep...",52.915825
27,euclidean,ball_tree,7,"{'loss': 'auto', 'max_bins': 116, 'max_depth':...",52.181818
35,minkowski,brute,7,"{'loss': 'categorical_crossentropy', 'max_bins...",52.195286

In [8]:
xgb_corda.query('accuracy_models > 53')

,metric_detected_outiler,algorithm_detected_outiler,neighbors_detected_outiler,parametos_models,accuracy_models
3,euclidean,ball_tree,3,"{'eta': 0.01, 'gamma': 0, 'learning_rate': 0.1...",53.259259
7,manhattan,kd_tree,3,"{'eta': 0.18310315230961735, 'gamma': 0, 'lear...",53.629630
13,manhattan,auto,5,"{'eta': 0.027861238825289514, 'gamma': 1, 'lea...",54.740741
19,manhattan,kd_tree,5,"{'eta': 0.10124979781367956, 'gamma': 7, 'lear...",53.636364
22,manhattan,brute,5,"{'eta': 0.17656528033050015, 'gamma': 4, 'lear...",53.649832
32,minkowski,kd_tree,7,"{'eta': 0.01, 'gamma': 1, 'learning_rate': 0.0...",53.993266
36,euclidean,auto,9,"{'eta': 0.15103108133583606, 'gamma': 2, 'lear...",53.272727
47,minkowski,brute,9,"{'eta': 0.2, 'gamma': 0, 'learning_rate': 0.18...",53.643098

In [12]:
rf_corda.query("accuracy_models > 54")

,metric_detected_outiler,algorithm_detected_outiler,neighbors_detected_outiler,parametos_models,accuracy_models
24,euclidean,auto,7,"{'bootstrap': True, 'criterion': 'gini', 'max_...",54.370370
29,minkowski,ball_tree,7,"{'bootstrap': True, 'criterion': 'entropy', 'm...",54.006734
38,minkowski,auto,9,"{'bootstrap': True, 'criterion': 'gini', 'max_...",54.740741
42,euclidean,kd_tree,9,"{'bootstrap': False, 'criterion': 'gini', 'max...",54.383838
51,euclidean,ball_tree,11,"{'bootstrap': False, 'criterion': 'entropy', '...",54.020202
53,minkowski,ball_tree,11,"{'bootstrap': False, 'criterion': 'gini', 'max...",54.006734
54,euclidean,kd_tree,11,"{'bootstrap': False, 'criterion': 'gini', 'max...",54.013468

# Sopro

In [14]:
rf_sopro.query("accuracy_models > 74")

,metric_detected_outiler,algorithm_detected_outiler,neighbors_detected_outiler,parametos_models,accuracy_models
25,manhattan,auto,7,"{'bootstrap': False, 'criterion': 'entropy', '...",74.564394
31,manhattan,kd_tree,7,"{'bootstrap': False, 'criterion': 'gini', 'max...",74.564394
34,manhattan,brute,7,"{'bootstrap': False, 'criterion': 'gini', 'max...",75.795455

In [9]:
xgb_sopro.query("accuracy_models > 72")

,metric_detected_outiler,algorithm_detected_outiler,neighbors_detected_outiler,parametos_models,accuracy_models
16,manhattan,ball_tree,5,"{'eta': 0.13425722671358642, 'gamma': 4, 'lear...",72.064394
19,manhattan,kd_tree,5,"{'eta': 0.2, 'gamma': 0, 'learning_rate': 0.03...",73.276515
29,minkowski,ball_tree,7,"{'eta': 0.19292741191509635, 'gamma': 3, 'lear...",72.064394
42,euclidean,kd_tree,9,"{'eta': 0.05287925010388384, 'gamma': 2, 'lear...",72.632576

In [10]:
histgb.query("accuracy_models > 72")

,metric_detected_outiler,algorithm_detected_outiler,neighbors_detected_outiler,parametos_models,accuracy_models
1,manhattan,auto,3,"{'loss': 'log_loss', 'max_bins': 121, 'max_dep...",72.083333
25,manhattan,auto,7,"{'loss': 'auto', 'max_bins': 244, 'max_depth':...",72.045455
28,manhattan,ball_tree,7,"{'loss': 'log_loss', 'max_bins': 113, 'max_dep...",72.064394
31,manhattan,kd_tree,7,"{'loss': 'categorical_crossentropy', 'max_bins...",72.064394
34,manhattan,brute,7,"{'loss': 'log_loss', 'max_bins': 222, 'max_dep...",72.045455
48,euclidean,auto,11,"{'loss': 'log_loss', 'max_bins': 103, 'max_dep...",72.045455
50,minkowski,auto,11,"{'loss': 'categorical_crossentropy', 'max_bins...",72.064394
56,minkowski,kd_tree,11,"{'loss': 'categorical_crossentropy', 'max_bins...",72.064394
59,minkowski,brute,11,"{'loss': 'auto', 'max_bins': 100, 'max_depth':...",72.064394